<%- include layouts/head.ejs %>
<%- include layouts/header.ejs %>

<link rel='stylesheet' href='stylesheets/horarios.css'>

<!--Cabecera--------------------------------------------------------------->
<section class="cabecera" id="cabecera-seccion-horarios">
    <!--Decoración-->
    <div class='punto-container container'>
        <img class='punto-img' id='punto-superior' src='images\punto_blanco.png' alt=''>
    </div>
    <!--Cabecera interior-->
    <div class='cabecera-interior' id='cabecera-interior'>
        <div class='cabecera-contenido container'>
            <h2 class='texto cabecera-titulo' id='track-inicio-seccion-horarios'>Generador de horarios</h2>
            <!-- <span class='cabecera-subtitulo' id='cabecera-subtitulo'>en tiempo real</span> -->
        </div>
    </div>
</section>

<div class="container">
    <h2 class='subtitulo texto'>Selecciona tus materias: </h2>
    <form class="contenido" method="post" action="/horarios/add">
        <select multiple name="asignaturas" id="asignaturas">
            <% dataAsignaturas.forEach((element)=>{ %>
                <option value="<%= element['id'] %>"><%= element['nombre'] %> - [<%= element['carrera'] %>]</option>
            <% }) %>
        </select>

        <label for="profesores">Excluir: </label>
        <select multiple name="profesores" id="profesores">
            <% dataProfesores.forEach((element)=>{ %>
                <option value="<%= element['id'] %>"><%= element['nombre'] %></option>
            <% }) %>
        </select>

        <input class="boton-enviar container" type="submit" value="Generar horarios">
    </form>
</div>

<% if(userHorarios){ %>
    <div class="container">
        <% let i = 1; %>
        <h2 class='subtitulo texto'>Horarios: </h2>
        <% userHorarios.horarios.forEach((element)=>{ %>
            <!--Decoración-->
            <div class='punto-container container'>
                <img class='punto-img' src='images\punto_morado.png' alt=''>
            </div>
            <h3 class="texto">Opción <%= i++ %>:</h3>
            <div class="texto">Horas libres por semana: <%= element.horas %></div>
            <table class="tabla contenido">
                <thead>
                    <!--
                    <tr>
                        <th colspan="8">deaquiadonde.com</th>
                    </tr>
                    -->
                    <tr>
                        <!-- <td>| id |</td> -->
                        <th>Grupo</th>
                        <th>Asignatura</th>
                        <th>Profesor</th>
                        <th>Lunes</th>
                        <th>Martes</th>
                        <th>Miércoles</th>
                        <th>Jueves</th>
                        <th>Viernes</th>
                    </tr>
                </thead>
                <tbody>
                    <% element.clases.forEach((clase)=>{ %>
                        <tr>
                            <!-- <td><%= clase['id'] %></td> -->
                            <td><%= clase['grupo'] %></td>
                            <td><%= clase['asignatura'] %></td>
                            <td><%= clase['profesor'] %></td>
                            <td><%= clase['horaLunes'] %></td>
                            <td><%= clase['horaMartes'] %></td>
                            <td><%= clase['horaMiercoles'] %></td>
                            <td><%= clase['horaJueves'] %></td>
                            <td><%= clase['horaViernes'] %></td>
                        </tr>
                    <% }) %>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="8"><h4>Créditos totales: <%= userHorarios.creditos %></h4></td>
                    </tr>
                    <tr>
                        <th id="creditos" colspan="8">deaquiadonde.com</th>
                    </tr>
                </tfoot>
            </table>
        <% }) %>
    </div>

    <div class="container">
        <div class="texto centrar-texto">
            <h3>¿Te fue útil esta página?</h3>
        </div>
        <img class="imagen centrar-imagen" src='images\donaciones.png'>
        <div class=" contenido centrar-texto">
            Si quieres, puedes apoyarme a costear los gastos del servidor con una pequeña aportación :)
        </div>
        <div class="contenido parrafo centrar-texto">
            BBVA: 012180015870106286
        </div>
        <div class="contenido parrafo centrar-texto">
            <h3>Tu aporte desde $1 ya me ayuda un montón</h3>
        </div>
    </div>
<% } %>

<script src="/javascripts/horarios.js"></script>
<script>
    new MultiSelectTag('asignaturas');
    new MultiSelectTag('profesores');
</script>

<%- include layouts/footer.ejs %>