<%- include layouts/head.ejs %>
<%- include layouts/header.ejs %>

<!--Sección aulas--------------------------------------------------------------->
<section class="cabecera" id="cabecera-seccion-1">
    <!--Decoración-->
    <div class="container punto-container">
        <img class="punto-img" id="punto-superior" src="images\punto_blanco.png" alt="">
    </div>
    <!--Cabecera interior-->
    <div class="cabecera-interior" id="cabecera-interior-seccion-1">
        <div class="container cabecera-contenido">
            <h2 class="cabecera-titulo texto" id="track-inicio-seccion-1">Aulas libres</h2>
            <!-- <span class="cabecera-subtitulo" id="cabecera-subtitulo">en tiempo real</span> -->
        </div>
    </div>
</section>

<!--Decoración-->
<div class="container punto-container">
    <img class="punto-img" src="images\punto_rosa.png" alt="">
</div>
<!--Grid aulas disponibles--------------------------------------------------------------->
<div class="container">
    <div class="subtitulo texto">En este momento:</div>
    <div class="grid-aulas" id = "tabla-aulas-libres">
        <% if(dataCurrentClassrooms.length > 0){ %>
            <% dataCurrentClassrooms.forEach((element)=>{ %>
                <div class="aula-container">
                    <div class="aula-estado">Aula</div>
                    <div class="aula-numero"><%= element["aula"] %></div>
                    <div class="aula-botones">
                        <button class="aula-boton" id="boton-like" onclick="like(`<%= element['id'] %>`)" state="unselected">
                            <% if(cookies[`like_${element['id']}`]){ %>
                                <img class="boton-imagen" id="imagen-like_<%= element['id'] %>" src="images\like_selected.png" alt="">
                            <% }else{ %>
                                <img class="boton-imagen" id="imagen-like_<%= element['id'] %>" src="images\like_unselected.png" alt="">
                            <% } %>
                        </button>
                        <button class="aula-boton" id="boton-dislike" onclick="dislike(`<%= element['id'] %>`)">
                            <% if(cookies[`dislike_${element['id']}`]){ %>
                                <img class="boton-imagen" id="imagen-dislike_<%= element['id'] %>" src="images\dislike_selected.png" alt="">
                            <% }else{ %>
                                <img class="boton-imagen" id="imagen-dislike_<%= element['id'] %>" src="images\dislike_unselected.png" alt="">
                            <% } %>
                        </button>
                    </div>
                </div>
            <% }) %>
        <% }else{ %>
            <div class="texto">No hay aulas disponibles :(</div>
        <% } %>
    </div>
</div>

<!--Decoración-->
<div class="punto-container container">
    <img class="punto-img" src="images\punto_rosa.png" alt="">
</div>
<!--Grid aulas disponibles siguiente hora--------------------------------------------------------------->
<div class="container">
    <div class="subtitulo texto">En la siguiente hora:</div>
    <div class="grid-aulas container">
        <% if(dataNextClassrooms.length > 0){ %>
            <% dataNextClassrooms.forEach((element)=>{ %>
                <div class="aula-container disabled">
                    <div class="aula-estado">Aula</div>
                    <div class="aula-numero"><%= element["aula"] %></div>
                </div>
            <% }) %>
        <% }else{ %>
            <div class="texto">No hay aulas disponibles :(</div>
        <% } %>
    </div>
</div>




<!--Decoración-->

<div hidden class="punto-container container">
    <img class="punto-img" id="track-final-seccion-1" src="" alt="">
</div>

<!--Sección actividades--------------------------------------------------------------->
<!--
<section class="cabecera" id="cabecera-seccion-2">
-->
    <!--Cabecera interior-->
    <!--
    <div class="cabecera-interior" id="cabecera-interior-seccion-2">
        <div class="cabecera-contenido container">
        -->
            <h2 hidden class="cabecera-titulo texto" id="track-inicio-seccion-2">Actividades</h2>
            <!-- <span class="cabecera-subtitulo" id="cabecera-subtitulo">en tiempo real</span> -->
            <!--
        </div>
    </div>
</section>
-->

<!--Decoración-->
<!--
<div class="punto-container container">
    <img class="punto-img" src="images\punto_verde.png" alt="">
</div>
-->
<!--Grid actividades--------------------------------------------------------------->
<!--
<div class="container">
    <div class="subtitulo texto"> Actividades ocurriendo ahora:</div>
    <div class="grid-actividades container">
        -->
        <!--
        <?php
            $result = obtener_actividades($horario, $connection, $sql);

            if($horario != 0 && ($dia_actual > 1 && $dia_actual < 7)){
                while($row = $result->fetch_assoc()){
                    //Mostrar los resultados encontrados
                    echo
                    "<div class="actividad-container">
                        <div class="actividad-estado">Ahora</div>
                        <div class="actividad-nombre">" . $row["actividad"] . "</div>
                        <div class="actividad-ubicacion">" . $row["ubicacion"] . "</div>
                    </div>";
                }
            }
            else{
                echo "No hay actividades en este momento :(";
            }
        ?>
        -->
        <!--
    </div>
</div>
-->

<!--Decoración-->
<!--
<div class="punto-container container">
    <img class="punto-img" src="images\punto_verde.png" alt="">
</div>
-->
<!--Grid actividades en la siguiente hora--------------------------------------------------------------->
<!--
<div class="container">
    <div class="subtitulo texto"> Actividades en la siguiente hora:</div>
    <div class="grid-actividades container">
        -->
        <!--
        <?php
            $result = obtener_actividades($horario+1, $connection, $sql);

            if($horario != 0 && ($dia_actual > 1 && $dia_actual < 7)){
                while($row = $result->fetch_assoc()){
                    //Mostrar los resultados encontrados
                    echo
                    "<div class="actividad-container" id="disabled">
                        <div class="actividad-estado">[" . $horas[$i]->format("h:i a") . "]</div>
                        <div class="actividad-nombre">" . $row["actividad"] . "</div>
                        <div class="actividad-ubicacion">" . $row["ubicacion"] . "</div>
                    </div>";
                }
            }
            else{
                echo "No hay actividades en este momento :(";
            }
        ?>
        -->
        <!--
    </div>
</div>
-->

<script src="/javascripts/index.js"></script>

<%- include layouts/footer.ejs %>